# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*.pyzzzz

# React Native Examples Projects

# Node
node_modules/

# Expo
.expo/
dist/
web-build/

# ENV
.env
